body {
    /* background-color: #F5F0BB; */
    /* background-image : linear-gradient(to right, #ffecd2 66%, #fcb69f 34%); */
    /* background-color: #2C3639; */
    /* background-color: rgb(255,255,255); */
    background-color: #191A19;

}
a {
    color: aquamarine;
}
a:hover {
    color: whitesmoke;
}
h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    padding-right: 2rem;
    /* background: linear-gradient(90deg, #ffecd2 66%, #fcb69f 34%); */

}
h2 {
    text-align: center;
    color: whitesmoke;
}
h3 {
    text-align: center;
    color: whitesmoke;
}
.hr-spe {
    height: 0px;
    border: none;
    border-top: 0.69rem solid white;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* p {
    font-size: 3rem;
} */


#title {
    /* background-color: #F5F0BB; */
    /* background: linear-gradient(90deg #ffecd2 66%, #fcb69f 34%); */
    /* background: linear-gradient(90deg, #FFA500 66%, #FCF8E8 34%); */
}


.container-fluid {
    /* padding: 3% 15%; */
}


.relative {
    font-size: 30px;
    position: relative;
    width: 40%;
    left: 430px;
    bottom: 590px;
}
.img-fluid {
    filter: drop-shadow(10px 10px 10px #222);
}

/* Navigation Bar  */

.navbar {
    /* padding-bottom: 1rem; */
}

.navbar-brand {
    /* color: #FCF8E8; */
    /* font-family: "Ubuntu"; */
    font-size: 1.69rem;
    font-weight: bold;
}

.nav-item {
    /* padding: 0 18px; */
}

.col-lg-12 {
    padding-bottom: 0.3rem;
    display: block;
}

